.header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    background-color:#EDF3FF;
    color: #0F70EB;
    padding: 10px;
}
  
.header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.loginBlock a{
    text-decoration: none;
    color: #77838F;
}

.loginBlock a.active {
    color: #0F70EB;
}