.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {
    display: flex;
}

.dialog a {
    margin-left: 10px;
    text-decoration: none;
    color: #77838F;
}

.dialog img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dialog a.active {
    color: #0F70EB;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: #0F70EB;
    margin-bottom: 15px;
}